
$feature-flags: (
  grid-columns-16: true,
);
// @import '@carbon/themes/scss/themes';
// $carbon--theme: $carbon--theme--g10;
// @include carbon--theme();
@import 'carbon-components/scss/globals/scss/styles.scss';
@import 'carbon-components/scss/globals/scss/_theme.scss';
@import '@carbon/type/scss/classes';



// body {
//   margin: 0;
//   font-family: 'Brown',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }





html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body, #__next, .container {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}


